
html {
    font-size: 62.5%;                           /* default pixel of browser = 16px * 62.5% = 10px; */
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
}

body,
h1, h2, h3, h4, h5, h6,
p,
blockquote,
pre,
dl, dd,
ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
    margin:  0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 24px;
}

p {
    color: rgba(26, 26, 26, 0.75);
}

p strong {
    color: #1a1a1a;
}

h2 {
    font-size: 1.6rem;
}

.profile-mask {
    background: #dedede;
    width: 122px;
    height: 122px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.profile-mask-img {
    clip-path: circle(58px at center);
}

.profile-name {
    text-align: center;
    color: #1a1a1a;
    font-size: 1.8rem;
    margin-bottom: 8px;
}

.profile-title {
    text-align: center;
    font-size: 1.6rem;
    color: #999;
    margin-bottom: 16px;
}

.profile-intro-txt {
    font-size: 2rem;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    color: #969696;
}

@media only screen and (max-device-width: 1024px) {
    .profile-intro-txt {
        max-width: 100%;
    }
}

.titles {
    font-size: 1.4rem;
    line-height: 2.4rem;
    float: left;
    width: 20%;
    padding: 0 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.profile, .skills {
    font-size: 1.6rem;
    line-height: 2.4rem;
    float: left;
    width: 70%;
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}




/* blockquote {
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    width: 590px;
}

blockquote p {
    float: left;
    margin: 10px 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 32px;
    line-height: 52px;
    color: #969696;
}

.fa-quote-left, .fa-quote-right {
    color: #969696;
    float: left;
}

.fa-quote-left {
    margin-right: 20px;
}

.fa-quote-right {
    margin-top: 80px;
}

.quote-author {
    font-size: 12px;
    float: right;
} */

